PUID=XXXX
PGID=XXXX
TZ="America/New York"
CONFIG_DIR="/your/config/folder"
DOMAINNAME=example.com
CLOUDFLARE_EMAIL=your@email.com
CLOUDFLARE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NFS_HOSTNAME=XXX.XXX.XXX.XXX
PLEX_CLAIM=claim-YYYYYYYYY